/* Aula inicial :D */
*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url('https://ak.picdn.net/shutterstock/videos/162730/thumb/1.jpg');
  background-size: auto 100vh;
  font-family: verdana;
  font-size:80%;
  height: 100vh;
}

.menu{
  background-color: white;
}
.menu ul {
  display: flex;
  justify-content: space-around;
}
.menu li {
  list-style: none;
}

a {
  text-decoration: none;
  color: teal;
}
a:hover {
  text-decoration: underline;
 }

.site-title {
  text-align: center;
  color: red;
}
.site-subtitle {
  font-style: italic; 
  text-align:center;
  color: green;
}
